<%-include('partials/head', { pageTitle: location.title }) %>
<body>
  <%-include("partials/nav") %>
  <h1><%= location.title %></h1>
  <p>City: <%= location.city %></p>
  <p>Province: <%= location.province %></p>
  <% location.reviews.forEach(review => { %>
    <%-include("partials/review", { review: review })  %> <!-- Pass the review variable -->
  <% }); %>
  <% if (!hasReviews) { %>
    <!-- Add Review Button -->
    <button id="add-review-btn">Add Review</button>
  <% } else { %>
    <% location.reviews.forEach(review => { %>
      <!-- Edit Review Button for each review -->
      <button class="edit-review-btn" data-review-id="<%= review.id %>">Edit Review</button>
    <% }); %>
  <% } %>
  <%-include("partials/foot")  %>
</body>
</html>
