<%-include('partials/head', { pageTitle: "All Locations" }) %>
<body>
  <%-include("partials/nav") %>
  <h1>All Locations</h1>
  <% locations.forEach(location => { %>
  <div>
    <h2><a href="/api/locations/<%= location.id %>"><%= location.title %></a></h2>
    <p><%= location.description %></p>
    <!-- Add more location attributes as needed -->
  </div>
  <% }); %>
  <%-include("partials/foot")  %>
</body>
</html>
